body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

p{
    margin-top: 20px !important;
}
/* styles refactored */
/* Existing CSS */
.backgroundImage {
    background-image: url(./images/background.png);
    background-size: cover; /* Ensures the image covers the container fully */
    background-position: center center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents repeating the image */
    width: 100%;
    height: 100vh; /* Ensures the container takes up the full viewport height */
    position: relative; /* Use relative positioning to place content inside */
    z-index: 1; /* Keep content visible above the background */
    bottom: 0; /* Positions the background at the bottom */
}


.header {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white for the base */
    /* Optional: Uncomment for box-shadow or gradient
    box-shadow: 0 4px 10px rgba(173, 216, 230, 0.5); 
    background: linear-gradient(to bottom left, rgba(173, 216, 230, 0.4), rgba(255, 255, 255, 0.8)); 
    */
}

.logo {
    max-width: 150px; /* Set a max-width for the logo */
    height: auto;
}

/* Adjust the getStarted container */
.getStarted {
    background: #FFFFFF; /* Light background for visibility */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* Whitepaper Styling */
.whitepaper {
    padding: 0 16px; /* Adjust padding */
    font-size: 16px;
    cursor: pointer;
}

.whitepaper1{
    padding: 0 16px; /* Adjust padding */
    font-size: 16px;
    cursor: pointer;
}

.modal-backdrop.show {
    opacity: 0.4 !important;
    position: relative;
    z-index: -1 !important;
}



/* Dark Theme Toggle */
.darkTheme {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.EN {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
        "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-weight: 400;
    color: #006FFF;
}

.vector img {
    width: 14px; /* Adjust icon size */
    height: auto; /* Maintain aspect ratio */
    display: flex;
    align-items: center;
}

/* Start Button Styling */
.startBtn {
    /* margin-top: 1rem; */
    background: #006FFF;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 8px 12px; /* Adjust padding */
    display: flex;
    align-items: center;
    width: 148px;
    height: 34px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
        "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}

.startBtn_4 {
    margin-top: 1rem;
    background: #006FFF;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 8px 12px; /* Adjust padding */
    display: flex;
    align-items: center;
    width: 148px;
    height: 34px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
        "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}

.startBtn_3 {
    background: #006FFF;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 8px 12px; /* Adjust padding */
    display: flex;
    align-items: center;
    width: 148px;
    height: 34px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
        "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}

.startText {
    margin-right: 5px; /* Space between text and icon */
}


.hero_title{
    width: 692.4px;
    height: 443.6px;
    top: 251px;
    left: 199px;
    gap: 0px;
    opacity: 0px;
}


.real_1{
    display: flex;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 60px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    width: 540px;
    height: 49.2px;
    top: 251px;
    left: 199px;
    gap: 0px;
    opacity: 0px;
    color: #1F92F6;
}

.real_2{
    color: #4E4E4E;
    display: flex;
    width: 692.4px;
    height: 192px;
    top: 326.6px;
    left: 199px;
    gap: 0px;
    opacity: 0px;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 33.6px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
}

.real_3{
    display: flex;
    width: 490px;
    height: 36px;
    top: 545px;
    left: 199px;
    gap: 0px;
    opacity: 0px;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 26.8px;
    font-weight: 700;
    line-height: 35.1px;
    text-align: center;
}

.real_4{
    width: 692.4px;
    height: 84px;
    top: 610.6px;
    left: 199px;
    gap: 0px;
    opacity: 0px;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #4E4E4E;
}


.startBtn_2{
    width: 138px;
    height: 36px;
    top: 715px;
    left: 199px;
    gap: 0px;
    opacity: 0px;
    background: #006FFF;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 8px 12px; /* Adjust padding */
    display: flex;
    align-items: center;
}

.gif{
    width: 100%;
    height: 501px;
}

.aboutContainer{
    width: 1514px;
    height: 590px;
    top: 924px;
    left: 199px;
    gap: 0px;
    border-radius: 40px 40px 40px 40px;
    opacity: 0px;
}

.about_title{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 42px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;    
}

.aboutTitle{
    width: 692.4px;
    height: 443.6px;
    top: 251px;
    left: 199px;
    gap: 0px;
    opacity: 0px;
}

.about_desc{
    width: 732px;
    height: 379px;
}

.about_1{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 17.86px;
    font-weight: 800;
    line-height: 28px;
    text-align: left;
}

.about_2{
    font-family: Lato;
    font-size: 15.88px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #737373;
    width: 732px;
    height: 120px;

}


.token_main{
    margin-top:30px;
}
.token_title{
    width: 576px;
    height: 48px;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 42px;
    font-weight: 900;
    line-height: 48px;
    text-align: left;
    color: #4E4E4E;
}

.token_1{
    width: 100%;
    height: 48px;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 15.88px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.tokenImg{
    width: 309.92px;
    height: 288.44px; 
}

.cards_span{
    width: 1555px;
    height: 537px;
    top: 1889px;
    left: 199px;
    padding: 36px 0px 0px 0px;
    gap: 40px;
    opacity: 0px;
}
.card_{
    width: 489px;
    height: 227px;
    gap: 16px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
}

.card_1{
    width: 489px;
    height: 56px;
    gap: 24px;
    opacity: 0px;
}

.card_2{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    text-align: left;
}

.card_3{
    width: 70%;
    height: 117px;
    max-width: 448px;
    text-align: left;
    gap: 0px;
    opacity: 0px;
    color: #475569;
}

.card_5{
    width: 70%;
    height: 117px;
    max-width: 448px;    
    text-align: left;
    gap: 0px;
    opacity: 0px;
    color: #475569;   
}

.card_6{
    width: 448px;
    height: 147px;
    max-width: 448px;    
    text-align: left;
    gap: 0px;
    opacity: 0px;
    color: #475569;   
}

input.form-control {
    display: block !important;
    visibility: visible !important;
    width: 100%; /* Ensure the input takes full width */
  }

.card_7{
    width: 100%;
    height: 117px;        
    text-align: left;
    gap: 0px;
    opacity: 0px;
    color: #475569;   
}

.card_8{
    width: 746px;
    height: 88px;
    text-align: left;
    gap: 0px;
    opacity: 0px;
    color: #475569;   
}

.card_9{
    width: 56px;
    height: 56px;
    justify-content: center;
}

.tokenmics_title{
    width: 707px;
    height: 136px;
    top: 2776px;
    left: 272px;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 15.88px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    
}

.tokenomic_img{
    width: 598px;
    height: 527.46px;
    display: flex;
}

#tokenCommitment{
padding-bottom: 0 !important;
}

#tokenomics{
    padding: 0 !important;
}

.tokenomic_2{
    width: 210px;
    top: 2598px;
    left: 1237px;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    font-weight: 800;
    line-height: 28px;
    text-align: left;
    
}

.tokenomic_3{
    width: 265px;
    top: 2598px;
    left: 1237px;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 29.25px;
    text-align: left;    
}

p.tokenomic_3 {
    margin: unset !important;
}

p.tokenomic_2 {
    margin: unset !important;
}

.title{
font-size: 42px;
font-weight: 900;
line-height: 48px;
text-align: center;
/* width: 83px; */
height: 48px;
}


.gover_main{
    width: 100%;
    height: 379px;
    justify-content: center !important;
}
.community_paragraph{
    width: 486px;
    height: 180px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.community_1{
    width: 486px;
    height: 88px;
    font-size: 16px;
    font-weight: 400;
    line-height: 29.25px;
    text-align: center;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

.contact_image {
    position: relative; /* Position relative for absolute positioning of the ball */
    background-image: url('./images/contact.png');
    background-size: cover; /* Make sure the contact image covers the container */
    height: 464px;
    border-radius: 80px;
    overflow: hidden; /* Ensure no overflow of ball image */
}

.contact_image::before {
    content: ''; /* Create a pseudo-element */
    position: absolute; /* Position it absolutely within the container */
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    background-image: url('./images/balls.png');
    background-size: contain; /* Adjust size to fit */
    width: 100%; /* Set the desired width */
    height: 100vh; /* Set the desired height */
    z-index: 1; /* Ensure it's above the background */
}

.contact_0{
    font-size: 42px;
    font-weight: 900;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact_1{
    position: relative;
    z-index: 9;
    width: 97%;
    height: 169px;
    gap: 45px;
    display: flex;
    margin-top: 4rem;
    align-items: center;
}

.contact_2{
    width: 50%;
    height: 169px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.contact_3{
    width: 664px;
    height: 169px;
    padding: 27px 6.61px 6.61px 23.79px;
    gap: 6.61px;
    border-radius: 21px 21px 21px 21px;
    border: 1.32px 0px 0px 0px;
    opacity: 0px;    
    display: flex;
    align-items: flex-start;
}



.form-control {
    width: 316px; /* Fixed width */
    height: 62px; /* Fixed height */
    gap: 6.61px; /* Note: 'gap' does not apply to input elements */
    border-radius: 21px 0 0 0; /* Rounded corners */
    border: 1.32px solid transparent; /* Border color and width */
    background-color: rgba(255, 255, 255, 0); /* Optional: transparent background */
}

.form-group {
    position: relative; /* Ensures proper positioning for children */
}


/* input field style  */
.mat-form-field {
    width: 316px;
    height: 62px; 
    padding: 16px 6.61px 16px 23.79px;
    border-radius: 21px 21px 21px 21px;
    border: 1.32px solid #AEBED7; /* Change border color based on state */
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6.61px;
}

.emailField{
    width: 100%;
    height: 62px; 
    padding: 16px 6.61px 16px 23.79px;
    border-radius: 21px 21px 21px 21px;
    border: 1.32px solid #AEBED7; /* Change border color based on state */
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6.61px;
}

.textarea{
    width: 100%;
    height: 100%; 
    padding: 16px 6.61px 16px 23.79px;
    border-radius: 21px 21px 21px 21px;
    border: 1.32px solid #AEBED7; /* Change border color based on state */
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6.61px;
}

.mat-label {
    position: absolute;
    top: -10px;
    left: 23.79px;
    font-size: 14px;
    color: #999; /* Light color for the label */
    transition: all 0.2s ease-in-out;
}

.mat-input {
    width: 100%;
    height: 100%;
    border: none; /* Remove default border */
    outline: none; /* Remove outline on focus */
    font-size: 16px; /* Set input font size */
    border-radius: 21px; /* Match field border radius */
    background: transparent; /* Make background transparent */
    color: #FFFFFF;
}


.mat-input::placeholder {
    color: #FFFFFF; /* Placeholder color */
    opacity: 1; /* Ensure the placeholder is visible */
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}

.mat-input1 {
    width: 100%;
    height: 100%;
    border: none; /* Remove default border */
    outline: none; /* Remove outline on focus */
    font-size: 16px; /* Set input font size */
    border-radius: 21px; /* Match field border radius */
    background: transparent; /* Make background transparent */
    color: #FFFFFF;
    position: relative;
    top: -3rem;
}
.mat-input1::placeholder {
    color: #FFFFFF; /* Placeholder color */
    opacity: 1; /* Ensure the placeholder is visible */
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
   
}

.mat-input1:focus + .mat-label,
.mat-input1:not(:placeholder-shown) + .mat-label {
    top: -10px; /* Move label up */
    left: 10px; /* Keep left space */
    font-size: 14px; /* Smaller font size */
    color: #FFFFFF; /* Change label color on focus */
}

.mat-input:focus + .mat-label,
.mat-input:not(:placeholder-shown) + .mat-label {
    top: -18px;
    left: 23.79px;
    font-size: 12px;
    color: #6200ea; /* Color change for active state */
}



.mat-input2::placeholder {
    color: #6200ea; /* Placeholder color */
    opacity: 1; /* Ensure the placeholder is visible */
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    border: none;
   
}

.mat-input2:focus + .mat-label,
.mat-input2:not(:placeholder-shown) + .mat-label {
    top: -10px; /* Move label up */
    left: 10px; /* Keep left space */
    font-size: 14px; /* Smaller font size */
    color: #6200ea; /* Change label color on focus */
}

.mat-input2:focus + .mat-label,
.mat-input2:not(:placeholder-shown) + .mat-label {
    top: -18px;
    left: 23.79px;
    font-size: 12px;
    color: #6200ea; /* Color change for active state */
}

.msgBtn{
width: 311px;
height: 50px;
top: 4413px;
left: 1320px;
padding: 5px 10px 5px 16px;
border: none;
border-radius: 99px 99px 99px 99px;
opacity: 0px;
display: flex;
justify-content: center;
text-align: center ;
background-color: #006FFF;
color: #FFFFFF;
}

/* end */


/* footer style */
.main{
    width: 1933px;
}
.asd {
    position: absolute;
    z-index: 5;
    width: 1933px;
    height: 480.98px;
    border: 0.46px 0px 0px 0px;
    background-image: url(./images/asd1.png);
    /* background-repeat: repeat-x; */
    /* background-size: cover; */
    opacity: 1;
    /* right: 0rem; */
    bottom: 22rem;
}

.footer {
    max-width: 1933px !important; /* Set a max width for the footer */
    margin: 0 auto; /* Center the footer horizontally */
    background-image: url(./images/footer.png);
    /* background-size: contain; */
    padding: 20px;
    background-repeat: no-repeat;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between items */
    opacity: 1; /* Set opacity to 1 for visibility */
    position: relative;
    z-index: 4;
    height: 516px;
}

.footer_1{
    width: 565px;
    height: 107px;  
    margin-top: 12rem;
    /* margin-left: 199px; */
    display: flex;
}

.footer_2{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
}

.footer_3{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 29.25px;
    text-align: left;
    color: #475569;
}

.footerLogo {
    width: 301px;
    height: 301px;
    gap: 0px;
    opacity: 0px;
    justify-content: center !important;

}

.footerLine{
    /* width: 1933px !important;
    background-color: #ddebfb;
    position: relative;
    top: 69px;
    left: -20px;
    gap: 0px;
    opacity: 0px; */
    width: 100%;
    color: #9EC8FF4D;
}

.footer_5{
    max-width: 100%;
    align-items: center;
}
.socialIcon{

    width: 410.59px;
    height: 40.8px;
    padding: 6px 0px 6.8px 0px;
    position: relative;
    left:199px;
    gap: 18px;

}


/* Make it responsive */
/* Responsive Styles */

/* Tablet View */
@media (max-width: 992px) {
    .logo {
        max-width: 120px;
    }
    
    .whitepaper {
        font-size: 15px;
    }
    
    .EN {
        font-size: 13px;
    }
    
    .startBtn {
        /* width: 130px; */
        height: 32px;
        font-size: 15px;
    }
    .gif{
        position: absolute;
        z-index: -1;
        width: 100% !important;
    }

    .aboutMain{
        flex-direction: column;
    }

    .hero_title {
        width: 692.4px;
        height: 530.6px !important;
        top: 251px;
        left: 199px;
        gap: 0px;
        opacity: 0px;
    }

    .aboutTitle {
        width: 100%;
        height: 530.6px !important;
        top: 251px;
        left: 199px;
        gap: 0px;
        opacity: 0px;
    }
    .about_2 {
        font-family: Lato;
        font-size: 15.88px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #737373;
        width: 619px !important;
        height: 120px;
    }

    .token_1{
        width: 100% !important;
    }

    .tokenImg{
        display: none !important;
    }

    .card_3 {
        width: 321px;
    }

    .card_2{
        font-size: 14px !important;
    }

    .card_6 {
        width: 336px;
    }

    .card_7 {
        width: 436px !important;
    }

    .card_{
        margin-top: 35px !important;
    }

    .tokenomicSection{
        flex-direction: column !important;
    }
    .tokenomic_img{
        margin-top: 4rem !important;
    }

    .title {
        font-size: 30px !important;
    }

    .comuunity{
        flex-direction: column !important;
    }
    .governance{
        margin-top: 7rem !important;
       display: flex;
       align-items: center !important;
    }

    .gover_img{
        width: 408px;
        height: 334.69px;
    }


    .contact_image{
        margin-top: 8rem !important;
    }

    .contact_1{
        flex-direction: column !important;
    }

    .two_field{
        flex-direction: column !important;
        width: 100%;
    }

    .contact_2{
        width: 100% !important;
    }
    .contact_image{
        height: 700px !important;
    }

    .textarea{
        margin-top: 79px !important;
        width: 100% !important;
    }

    .msgBtn{
        margin-top: 17rem;
        width: 15rem;
        height: 40px;
    }

    .footer{
        padding: 0 !important;
        max-width: 100%;
        /* height: 400px; */
    }

    .socialIcon{
        position: relative;
        top: 3rem;
    }

    .footer_1 {
        width: 100%;
        margin-top: 12rem;
        margin-left: 0;
        flex-direction: column;
        margin-top: 8rem;
        padding-left: 1rem;
    }

    .footer_2{
        font-size: 14px !important;
    }

    .footer_3{
        font-size: 11px !important;
        width: 68%;
    }
    .asd{
        width: 100% !important;
    }
    .footerLogo {
        width: 100%;
        height: 15vh;
        /* gap: 0px; */
        opacity: 0px;
        position: relative;
        /* right: 10rem; */
        top: 5rem;
        justify-content: center;

    }

    .socialIcon{
        width: 100%;
        position: relative;
        left: 0;
        top: 6rem;
        text-align: start;
    }

    .copyright{
        position: relative;
        width: 100%;
        right: 0 !important;
        color: #475569;
        text-align: center;
        /* top: 3rem; */
    }

    .footerLine{
        display: none !important;
    }

    .footer_5{
        position: relative;
        top: 5rem;
        width: 100%;
        align-items: center;
    }
}


/* Mobile View */
@media (max-width: 576px) {

    .container{
        padding: 0 !important;
        margin: 0 !important;
    }
    .header {
        padding: 10px 0;
    }
    
    .logo {
        max-width: 60% !important;
        padding-left: 1rem;
    }
    
    .getStarted {
        justify-content: center;
    }
    
    .whitepaper {
        padding: 0 8px;
        font-size: 14px;
    }
    
    .startBtn{
        width: 140px;
    }

    .EN {
        font-size: 12px;
    }
    
    /* Stack elements vertically */
    .getStarted > * {
        margin-bottom: 10px;
    }
    
    .darkTheme {
        margin-left: 0 !important;
    }

    .mat-form-field{
        width: 100% ;
    }

    .real_1{
        font-size: 38px;
        width: 22rem;
        padding-left: 1rem !important;
    }

    .real_2 {
        font-size: 25.6px;
        width: 91%;
        padding-left: 1rem !important;
    }
    
    .real_3{
        font-size: 18.8px;
        width: 22rem;   
        padding-left: 1rem !important;
        padding-top:1rem ;
    }
   
    .real_4 {
        width: 21rem;
        padding-left: 1rem !important;
    }

    .startBtn_2 {
        width: 113px;
        height: 30px;
        font-size: 11px;
        margin-top: 3rem;
        margin-left: 1rem !important;
    }

    .hero_title {
        width: 22rem;
    }

    .gif{
        position: absolute !important;
        z-index: -1 !important;
        top: 9rem !important;
        width: 100% !important;
        height: auto !important;
    }

    .aboutTitle {
        width: 94%;
        align-items: center;
        height: 20vh !important;
    }
    img.about {
        width: 58%;
    }
    .about_desc {
        width: 22rem;
        height: 379px;
        display: flex;
        flex-wrap: wrap;
    }

    .aboutContainer_{
        height: 113vh;
    }
    .about_1{
    position: relative;
    top: 1.5rem;    
    padding-top: 1rem;
    padding-left: 1rem !important;
    }

    .about_2{
        padding-left: 1rem !important;
    }

    .startBtn_3{
        position: relative;
        top: 5rem;
        margin-left: 1rem;
    }

    .token_main {
        /* margin-top: 30px; */
        width: 94%;
        margin-bottom: 2rem;

    }

    .tokenImg{
        display: none;
    }

    .token_title{
        width: 100%;
        font-size: 25px;
        font-weight: 700;
        text-align: center;

    }

    .token_1 {
        width: 100% !important;
        padding-left: 1rem !important;
    }

    .row{
        margin-top: 3rem !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .card_ {
        width: 94%;
        margin-top: 3rem;
    }

    .card_1{
        width: 100% !important;
    }
    .card_3{
        display: flex;
        width: 100%;
    }

    .card_5{
        display: flex;
        width: 100%;

    }

    .card_6{
        display: flex;
        width: 100%;

    }

    .card_7{
        display: flex;
        width: 100% !important;

    }

    .card_8{
        display: flex;
        width: 100%;

    }

    .tokenmics_title {
        width: 97%;
        height: 47vh;
    }

    

    .tokenImg_{
        width: 70% !important;
        height: auto !important;
        margin-top: 1rem;
    }

    .tokenomic_1{
        position: unset !important;
        width: 100% !important;
        padding-left: 1rem !important;

    }

    .tokenomic_4{
        position: unset !important;
        padding-left: 1rem !important;
        width: 100% !important;
    }

    .hide{
        display: none !important;
    }

    .gover_img {
        width: 50% !important;
        height: 30vh !important;
    }

    .gover_main{
        width: 732px;
        height: 379px;
        justify-content: start !important;
    }
    .community_1{
        width: 100% !important;
    }
    
    .startBtn_4{
        margin-top: 2.5rem;
    }

    .gover_main{
        width: 100%;
    }

    .governance{
        margin-top: 4rem !important;
    }
    .desktopHeader{
        display: none !important;
    }

    .footer{
        padding: 0 !important;
        max-width: 100%;
        /* height: 400px; */
    }

    .socialIcon{
        position: relative;
        top: 3rem;
    }

    .footer_1 {
        width: 100%;
        margin-top: 12rem;
        margin-left: 0;
        flex-direction: column;
        margin-top: 8rem;
        padding-left: 1rem;
    }

    .footer_2{
        font-size: 14px !important;
    }

    .footer_3{
        font-size: 11px !important;
        width: 68%;
        position: relative;
        bottom: 5rem;
    }
    .asd{
        width: 100% !important;
    }
    .footerLogo {
        width: 100%;
        height: 15vh;
        /* gap: 0px; */
        opacity: 0px;
        position: relative;
        /* right: 10rem; */
        top: 9rem;

    }

    .footer_4{
        display: none !important;
    }

    .socialIcon{
        width: 100%;
        position: relative;
        left: 1rem;
        text-align: start;
        top: 7rem;
    }

    .copyright{
        position: relative;
        width: 100%;
        right: 0 !important;
        color: #475569;
        text-align: center;
    }

    .footerLine{
        display: none !important;
    }

    .footer_4{
        display: none ;
    }

    
    .msgBtn{
        margin-top: 15rem;
        width: 15rem;
        height: 40px;
    }
    .community_1{
        width:648px;
    }

    .header{
        height: 15vh;
    }

    section#about {
        padding-bottom: 0 !important;
    }

    section#tokenCommitment {
        padding-top: 0 !important;
    }
}


@media (min-width: 992px) {
.tokenImg{
    display: flex;
}
.hideSocialIcon{
    display: none;
}
.copyright{
    display: none;
}

.governance{
    width: 63%;
}

}

@media (min-width:576px){
  
    .hide_{
        display: none !important;
    }

    .pos-f-t{
        display: none !important;
    }
}


.tokenomic_1{
    position: relative ;
    right: 28rem ; 
}

.tokenomic_4{
    position: relative;
    top: 6rem;
    right: 36rem;
}

.copyright{
    position: relative; right: 199px;color: #475569;
}